#day_counter_box{
    text-align: center;
    float:right;
    background-color: LightGoldenRodYellow; 
    width: 6%; 
    border: 4px solid LightSalmon;
    padding: 15px; 
    margin-top: 0.5%;
    margin-right: -4px;
}
#money_counter_box{
    text-align: center;
    float:right; 
    background-color: LightGoldenRodYellow; 
    width: 6%; 
    border: 4px solid LightSalmon; 
    margin-top: 0.5%;
    margin-right: 3px;
    padding: 15px; 
}
#arrows{
    float:right;
    margin-top: 0.75%;
}
#buttons{
    float:left;
    margin-top: 0.5%;
}
#top_div{
    position: relative;
    width: 100%;
    height: 100px;
}
#game_canvas{
    margin: auto;
    position: relative;
}