<<<<<<< HEAD
#day_counter_box{
    text-align: center;
    float:right;
    background-color: LightGoldenRodYellow; 
    width: 6%; 
    border: 4px solid LightSalmon;
    padding: 15px; 
    margin-top: 0.5%;
    margin-right: -4px;
}
#money_counter_box{
    text-align: center;
    float:right; 
    background-color: LightGoldenRodYellow; 
    width: 6%; 
    border: 4px solid LightSalmon; 
    margin-top: 0.5%;
    margin-right: 3px;
    padding: 15px; 
}
#arrows{
    float:right;
    margin-top: 0.75%;
}
#buttons{
    float:left;
    margin-top: 0.5%;
}
#top_div{
    position: relative;
    width: 100%;
    height: 100px;
}
#game_canvas{
    margin: auto;
    position: relative;
=======
*{
    outline: 0;
    scrollbar-width: 0;
}

#crosswalk_editor_div{
    position: relative;
    background-color: lightgray;
    width: 50%;
    height: 50%;
}


.time_setter{
    position: relative;
    left: 30%;

}

.way{
    width: 3%;
    margin-left: 5%;
    display: inline-block;
    appearance: textfield;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
>>>>>>> c0d1ffaabbdb6d5793306209d635734468195d54
}