<!DOCTYPE html>

<!-- <form action="/leaderboard" method="POST">
        <input type="text" id="username" name="username">
        <input type="number" id="score" name="score">
        <input type="submit" id="submitButton">
    </form> -->

<html>
  <head>
      <title>Svetofar! Leaderboard</title>
    </head>
  <body>
    <ul>
    {{#each data}}
        <li>{{this.username}} | {{this.score}}</li>
    {{/each}}
    </ul>
  </body>
</html>